<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>The Coders Bay</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="logo">
                <a class="navbar-brand">The Coders Bay</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chatroom">Coding Buddies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profiles">Profiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/post/1">Forum</a>
                    </li>
                    {{#if var}}
                    <li class="nav-item">
                        <a class="nav-link" href="/bounties">Bounties</a>
                    </li>
                    {{/if}}
                </ul>
                <ul class="navbar-nav navbar-right">
                    {{#if loggedIn}}
                    <li class="nav-item">
                        <a class="nav-link" href="/userprofile"><span class="glyphicon glyphicon-user"></span> My
                            Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login" id="logout"><span class="glyphicon glyphicon-log-out"></span>
                            Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/register"><span class="glyphicon glyphicon-user"></span> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    {{/if}}
            </div>
            </ul>

        </nav>
    </header>
    <main>
        {{{body}}}
    </main>

    <footer style="background-color:#1D1C14; color: rgb(190, 189, 189);">
        <small>Copyright &copy; The Coders Bay 2021</small>
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>