<section class="login" style="background-image: url(/img/coders-bay-bg.png);">
    <form class="login-form" style="background-color: #859877;">
        <h1>Login</h1>
        <div class="form-group">
            <label for="email-login"></label>
            <input type="text" id="email-login" class="form-control input-color" placeholder="Email"/>
        </div>
        <div class="form-group">
            <label for="password-login"></label>
            <input type="password" id="password-login" class="form-control input-color" placeholder="Password" />
        </div>
        <div class="login-btn">
            <button type="submit" class="btn btn-dark btn-lg">Login</button>
        </div>
        <div>
            <a href="/register" type="button" class="btn btn-default btn-sm btn-block" style="background-color: #1D1C14; color: white;">-- Register instead --</a>
        </div>
    </form>
</section>


<script src="/javascript/login.js"></script>