<section class="register" style="background-image: url(/img/coders-bay-bg.png);">
    <form class="register-form registration-design">
        <h1>Register</h1>
        <div class="form-group">
            <label for="role-register"></label>
            <select name='role' id="role-register" class="form-control input-color">
                <option value="" disabled selected>Choose a role</option>
                <option value='user'>User</option>
                <option value='coach'>Coach</option>
            </select>
        </div>
        <div class="user-name-register">
            <div class="form-group name-register">
                <label for="first-name-register"></label>
                <input class="form-control input-color" type="text" id="first-name-register" placeholder="First Name" />
            </div>
            <div class="form-group name-register">
                <label for="last-name-register"></label>
                <input class="form-control input-color" type="text" id="last-name-register" placeholder="Last Name" />
            </div>
        </div>
        <div class="form-group">
            <label for="email-register"></label>
            <input class="form-control input-color" type="text" id="email-register" placeholder="Email" />
        </div>
        <div class="form-group">
            <label for="password-register"></label>
            <input class="form-control input-color" type="password" id="password-register" placeholder="Password" />
        </div>
        <div class="form-group">
            <label for="knowledge-register"></label>
            <input class="form-control input-color" type="text" id="knowledge-register" placeholder="Coding languages" />
        </div>

        <button type="submit" class="btn btn-dark btn-lg">Register</button>
    </form>

</section>

<script src="/javascript/register.js"></script>